#wp-admin-bar-open-mart .ab-icon:before,
#toplevel_page_open-mart .wp-menu-image:before,
[class^="ast-icon-"],
[class*=" ast-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ast-logo' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.appearance_page_open-mart #wpcontent {
    padding: 0;
}
#wp-admin-bar-open-mart .ab-icon:before,
#toplevel_page_open-mart .wp-menu-image:before,
.ast-icon-logo:before {
	content: "\e900" !important;
}

#side-sortables #open-mart_settings_meta_box select {
	min-width: 100%;
}

#normal-sortables #open-mart_settings_meta_box select {
	min-width: 200px;
}

.customize-control {
	position: relative;
}

.customize-control .ast-control-tooltip {
    position: absolute;
    top: 6px;
    right: 0;
}
.customize-control.customize-control-ast-divider .ast-control-tooltip {
    position: absolute;
    top: auto;
    bottom: 3px;
    right: 0;
}
.open-mart-review-notice-container {
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.open-mart-review-notice-container .dashicons {
    font-size: 1.4em;
	padding-left: 10px;
}

.open-mart-review-notice-container a {
    padding-left: 5px;
    text-decoration: none;
}

.open-mart-review-notice-container .dashicons:first-child {
    padding-left: 0;
}

.notice-image img {
    max-width: 90px;
}

.notice-content .notice-heading {
    padding-bottom: 5px;
}

.notice-content {
    margin-left: 15px;
}

.notice-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
/*theme notice */

.notice.open-mart-notice .button-hero{
background:#0073aa;
box-shadow: 0 2px 0 #0073aa!important;
border-color: #0073aa #0073aa #0073aa;
    box-shadow: 0 1px 0 #0073aa;
    text-shadow: 0 -1px 1px #0073aa, 1px 0 1px #0073aa, 0 1px 1px #0073aa, -1px 0 1px #0073aa;
margin-top:15px;
}
.notice.open-mart-notice .button-hero:hover{
background:#0680bb;
border-color: #0680bb #0680bb #0680bb;
}

#white-level{
background: #0073aa;
    border-bottom: 1px solid #e6e6e6;
    color: #fff;
    padding: 10px 12px;
    display: flow-root;
}

#white-level a{
font-size: 14px;
    margin: 0;
    line-height: 1.4;
color:#fff;
font-weight: 600;
}

.bvr-addon-title{
float:left;
display:block;
}
.bvr-learn-more{
float:right;
}
#poststuff h3.hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    background: #0073aa;
    border-bottom: 1px solid #e6e6e6;
    color: #fff;
}
.open-mart-notice{
 position:relative;
border-left: 4px solid #f7a53e;
}

#wpbody-content .about-wrap h1{
font-size:28px;
}